{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<header>
       <div class="logo">
           <a href="/">
               <img src="{% static 'polls/img/GitHub-Logo.wine.svg' %}" width="60" height="60px"/>
           </a>
       </div>
       <div class="menu">
           <ul>
               <li><a href="/products">О нас</a></li>
               <li><a href="/services">Контакты</a></li>
               <li><a href="/blog">Увлечения</a></li>
               <li><a href="/contacts">Галерея</a></li>
           </ul>
       </div>
       <div class="tel">

       </div>
</header>
<body class="content">
</body>
<footer>
</footer>
</html>

<style>
    header{
        background-color: antiquewhite;
    }
body.content {
    background-color: #efeeee;
    height: 100%;
    width: 100%;
}
</style>


